<form>
    <input type="hidden" name="type" value="Article">
    <div class="form-group">
        <label>* Author
            <input class="form-control" type="text" id="authors" name="authors" placeholder="Last, First, Middle" >
        </label>
    </div>
    <div class="form-group">
        <label>* Title
            <input class="form-control" type="text" id="title" name="title" >
        </label>
    </div>
    <div class="form-group">
        <label>* Journal
            <input class="form-control" type="text" id="journal" name="journal" >
        </label>
    </div>
    <div class="form-group">
        <label>* Volume
            <input class="form-control" type="number" id="volume" name="volume" >
        </label>
    </div>
    <div class="form-group">
        <label>* Issue
            <input class="form-control" type="text" id="issue" name="issue" >
        </label>
    </div>
    <div class="form-group">
        <label>* Year
            <input class="form-control" type="number" min="1000" id="year" name="year" >
        </label>
        <label>Pages
            <input class="form-control" type="text" id="pages" name="pages">
        </label>
    </div>
    <div class="form-group">
        <label>Tags
            <input class="form-control" type="text" id="tags" name="tags" placeholder="Separate by commas">
        </label>
    </div>
    <div class="form-group">
        <label>Notes
            <textarea class="form-control" type="text" id="notes" name="notes" rows="3"></textarea>
        </label>
    </div>
    <div class="form-group submit submit-row">
        <button type="submit" class="btn btn-warning new-button" name="submitNew">Add</button>
    </div>
</form>