<form>
    <input type="hidden" name="type" value="Book">
    <div class="form-group">
        <label>* Author
            <input class="form-control" type="text" id="authors" name="authors" placeholder="Last, First, Middle" required>
        </label>
    </div>
    <div class="form-group">
        <label>* Title
            <input class="form-control" type="text" id="title" name="title" required>
        </label>
    </div>
    <div class="form-group">
        <label>* City
            <input class="form-control" type="text" id="city" name="city" required>
        </label>
    </div>
    <div class="form-group">
        <label>* Publisher
            <input class="form-control" type="text" id="publisher" name="publisher" required>
        </label>
    </div>
    <div class="form-group">
        <label>* Year
            <input class="form-control" type="text" id="year" name="year" required>
        </label>
    </div>
    <div class="form-group">
        <label>URL
            <input class="form-control" type="text" id="url" name="url">
        </label>
    </div>
    <div class="form-group">
        <label>Tags
            <input class="form-control" type="text" id="tags" name="tags" placeholder="Separate by commas">
        </label>
    </div>
    <div class="form-group">
        <label>Notes
            <textarea class="form-control" type="text" id="notes" name="notes" rows="3"></textarea>
        </label>
    </div>
    <div class="form-group submit submit-row">
        <button type="submit" class="btn btn-warning new-button" name="submitNew">Add</button>
    </div>
</form>