<div class="col-xs-12 panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">How to use Referendus</h3>
    </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-heading">
                <h3 class="panel-title">Step 1: Create account or login</h3>
            </div>
            <ol>
                <li>Click the <i class="fa fa-user-o" aria-hidden="true"></i><span class="caret"></span> button in the upper right</li>
                <li>Enter a username and password</li>
                <li>To create an account, click "Sign Up" and it will create the account and sign you in automatically</li>
                <li>Or, you can Sign In to the demo account with username <strong>demo</strong> and password <strong>demo</strong>.</li>
            </ol>
            <p><img src="http://res.cloudinary.com/dk85nueap/image/upload/v1487102840/signin_we8vjd.png" alt="sign in example" /></p>
        </div>
    <div class="panel panel-default col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title">Step 2: Enter or edit references</h3>
        </div>
        <h4>To create a new reference:</h4>
        <ol>
            <li>Click the <i class="fa fa-plus" aria-hidden="true" title="add"></i> button at the top of the page</li>
            <li>Choose Article, Book, or Website</li>
            <li>Fill in the fields and click <strong>Add</strong>. Fields marked with * are required.</li>
        </ol>
        <p><img src="http://res.cloudinary.com/dk85nueap/image/upload/c_scale,w_200/v1487106092/add_y801kw.png" alt="add reference" /></p>
        <h4>To edit existing references:</h4>
        <ol>
            <li>Click the <i class="fa fa-pencil-square-o" aria-hidden="true"></i> button</li>
            <li>Change the desired fields</li>
            <li>Click <strong>Update</strong>.</li>
        </ol>
        <h4>To delete a reference:</h4>
        <ol>
            <li>Click the <i class="fa fa-trash-o" aria-hidden="true"></i> button</li>
            <li>Answer yes or no.</li>
        </ol>
    </div>
    <div class="panel panel-default col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title">Step 3: Select a view and copy to clipboard</h3>
        </div>
        <ol>
            <li>Choose a format (APA, Chicago/Turabian, or MLA) from the dropdown above.</li>
            <p><img src="http://res.cloudinary.com/dk85nueap/image/upload/v1487134360/format_ejjppg.png" alt="choose format" /></p>
            <li>Choose a tab to display only references of that type, or All to display all references.</li>
            <li>Or, search for a tag above to see a tab with only references having that tag.</li>
            <li>The demo account has references with the tag "tag" if you want to try it out.</li>
            <p><img src="http://res.cloudinary.com/dk85nueap/image/upload/c_scale,w_300/v1487133749/tag_wlz0zr.png" alt="tag search example" /></p>
            <li>Then click the <i class="fa fa-clipboard" aria-hidden="true" title="Copy to Clipboard"></i> button to copy the currently displayed references to the clipboard.</li>
            <li>You can then paste into your favorite rich text editor, such as Word, Pages, Google Docs, etc.</li>
        </ol>
    </div>
</div>