<div class="panel panel-default landing col-xs-6">
    <div class="panel-body">
        <h1><strong>Referendus</strong></h1>
        <h3>Make bibliographies simple.</h3>
        <hr />
        <ul>
            <li>Store your reference list in the cloud, accessible on any device.</li>
            <li>Easily switch between the three major citation formats.</li>
            <li>Tag your references to quickly make bibliographies for multiple projects.</li>
            <li>Copy a formatted bibliography to the clipboard, ready to paste into your document.</li>
        </ul>
        <p><img src="http://res.cloudinary.com/dk85nueap/image/upload/c_scale,w_500/v1487133749/tag_wlz0zr.png" alt="preview" style="width: 100%" /></p>
        <h3>Test Drive Now!</h3>
        <button id="demologin" class="btn btn-primary">Launch Demo</button>
    </div>
</div>