<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#all">All</a></li>
    <li><a data-toggle="tab" href="#articles">Articles</a></li>
    <li><a data-toggle="tab" href="#books">Books</a></li>
    <li><a data-toggle="tab" href="#websites">Websites</a></li>
</ul>

<div class="tab-content">
    <div id="all" class="tab-pane fade in active">
        <ul class="list-group ref-container">
        </ul>
    </div>
    <div id="articles" class="tab-pane fade">     
        <ul class="list-group ref-container">
        </ul>   
    </div>
    <div id="books" class="tab-pane fade">
        <ul class="list-group ref-container">
        </ul>
    </div>
    <div id="websites" class="tab-pane fade">
        <ul class="list-group ref-container">
        </ul>
    </div>
</div>