<form>
    <input type="hidden" name="type" value="Website">
    <div class="form-group">
        <label>* URL
            <input class="form-control" type="text" id="url" name="url" placeholder="https://" required>
        </label>
    </div>
    <div class="form-group">
        <label>Author
            <input class="form-control" type="text" id="authors" name="authors" placeholder="Last, First, Middle">
        </label>
    </div>
    <div class="form-group">
        <label>* Title
            <input class="form-control" type="text" id="title" name="title" required>
        </label>
    </div>
    <div class="form-group">
        <label>* Site Title
            <input class="form-control" type="text" id="siteTitle" name="siteTitle" required>
        </label>
    </div>
    <div class="form-group">
        <label>* Access Date
            <input class="form-control" type="date" id="accessDate" name="accessDate" required>
        </label>
    </div>
    <div class="form-group">
        <label>Published Date
            <input class="form-control" type="date" id="pubDate" name="pubDate">
        </label>
    </div>
    <div class="form-group">
        <label>Tags
            <input class="form-control" type="text" id="tags" name="tags" placeholder="Separate by commas">
        </label>
    </div>
    <div class="form-group">
        <label>Notes
            <textarea class="form-control" type="text" id="notes" name="notes" rows="3"></textarea>
        </label>
    </div>
    <div class="form-group submit submit-row">
        <button type="submit" class="btn btn-warning new-button" name="submitNew">Add</button>
    </div>
</form>