* {
    box-sizing: border-box;
}

.ref-container {
    margin: 10px auto 10px auto;
    padding-bottom: 10px;
}



/*.ref-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    min-width: 150px; 
    max-width: 1000px; 
    line-height: 20px;
}*/

footer {
    font-size: 9px;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

.modal-header {
    padding: 0px;
    border: none;
}

.modal-header .close {
    padding: 5px;
}

.modal-body {
    padding: 5px;
}

.new-button-row, .format-button-row, .delete-button-row {
    text-align: center;
    margin-bottom: 10px;
}

.new-button, format-button {
    width: 30%;
}

.modal-form {
    margin: 20px;
}

.form-group {
    margin-bottom: 5px;
}

.form-control {
    height: 24px;
}

label {
    margin-bottom: 0px;
    font-size: 12px;
}

#doi {
    width: 85%;
    display: inline-block;
}

.doi-search {
    /* TODO this still looks funny in mobile or desktop */
    margin-top: -3px;
    padding-left: 8px;
    padding-right: 22px;
    width: 12%;
}

#add-author {
    text-align: right;
}

.submit-row {
    text-align: center;
    margin-top: 10px;
}

.modal-message {
    font-size: 9px;
    color: red;
}

/* Utility */
.hidden {
    display: none;
}

.black {
    outline: 1px solid black;
}

.red {
    outline: 1px solid red;
}

.green {
    outline: 1px solid green;
}