* {
    box-sizing: border-box;
}

.navbar-brand {
    font-weight: bold;
}

/* Check marks in format dropdown */
.dropdown-menu i {
    position: absolute;
    left: 5px;
    margin-top: 0.25em;
}

.navbar-form {
    padding: 0px 6px;
}

.nav-tabs {
    max-width: 768px;
    margin: 0 auto;
}

.landing  {
    margin: 0 auto;
    text-align: center;
    float: none;
}

.landing-background {
    background-image: url(http://res.cloudinary.com/dk85nueap/image/upload/v1496896335/patrik-gothe-444_lhb0z0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50px;
}

.landing ul {
    list-style: none;
    list-style-position: outside;
    text-indent: -8px;
    max-width: 500px;
    margin: 0 auto 25px auto;
}

.landing li {
    text-align: left;
}

.landing li:before {
    content: '\f0da';
    font-family: FontAwesome;
    padding-right: 4px;
}

.ref-container, .article-container, .book-container, .website-container {
    margin: 10px auto;
    padding-bottom: 10px;
}

.ref {
    line-height: 20px;
    max-width: 768px;
    margin: 0 auto;
}

.list-group .ref-label {
    float: left;
    width: 55px;
}

.ref-edit, .ref-del {
    width: 30px;
    float: right;
    text-align: center;
    line-height: 14px;
}

.ref-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-left: 10px;
}

.tab-content {
    margin-bottom: 50px;
}

footer {
    font-size: 9px;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

#hide-instructions {
    font-size: 12px;
    display: block;
    margin: 0px auto 20px auto;
}

.panel p {
    text-align: center;
}

.searchtagex {
    width: 100%;
}

.panel-heading {
    margin-bottom: 5px;
}

.panel-success .panel-title {
    color: black;
}

.panel-info .panel-title {
    color: black;
}

.panel-warning .panel-title {
    color: black;
}

.modal-header {
    padding: 0px;
    border: none;
}

.modal-header .close {
    padding: 5px;
}

.modal-body {
    padding: 5px;
}

.new-button-row, .format-button-row, .delete-button-row {
    text-align: center;
    margin-bottom: 10px;
}

.new-button, format-button {
    width: 30%;
}

.modal-form {
    margin: 20px;
}

.form-group {
    margin-bottom: 5px;
}

#tag-search {
    width: 100px;
};

label {
    margin-bottom: 0px;
    font-size: 12px;
}

#doi {
    width: 85%;
    display: inline-block;
}

.doi-search {
    /* TODO this still looks funny in mobile or desktop */
    margin-top: -3px;
    padding-left: 8px;
    padding-right: 22px;
    width: 12%;
}

#add-author {
    text-align: right;
}

.submit-row {
    text-align: center;
    margin-top: 10px;
}

.modal-message {
    font-size: 9px;
    color: red;
}

footer {
    background-color: #3E3F3A;
    color: white;
    width: 100%; 
    position: fixed; 
    padding: 15px 0; 
    bottom: 0;
}

/* Bootstrap Overrides */
.btn-success, .btn-warning {
    font-size: 18px !important;
}

.dropdown-toggle {
    font-size: 14px !important;
    color: white !important;
}

.dropdown-menu a {
    font-size: 14px !important;
}

/*
.panel-heading {
    background-color: #4C2420 !important;
    
}

.panel-title {
    color: #9AA666 !important;
}

nav {
    text-shadow: none !important;
    background-image: none !important;
    background-color: #4C2420 !important;
    color: #9AA666 !important;
}

.navbar-brand {
    color: #9AA666 !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #9AA666 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #9AA666 !important;
}

.btn-warning {
    background-color: #99564F !important;
    background-image: none !important;
    border: none !important;
} */

/* Utility */
.hidden {
    display: none;
}

.black {
    outline: 1px solid black;
}

.red {
    outline: 1px solid red;
}

.green {
    outline: 1px solid green;
}